#  Artur Satosov  #
***
## Location ##
- Naberezhnye Chelny, Russia
---
## Contact ##
* email: lion_sa@mail.ru
* Discord: ArturS#9425
---
### Education ###
Kama Polytechnic of Institute, Naberezhnye Chelny
### Army ###
147 Automobile Base of the Ministry of Defense of the Russian Federation, Moscow
___
### About me ###
1. I am engineer-constructor.
2. I am developing construction documentation(CMD- construction metal detailing) for macking stell constraction in 3d programm.
3. I am looking to collaborate with EPAM.
4. I am interested in IT technology. 
5. My hobbies are football and swimming.
---
### Code example for use in 3d modeling ###
* =if P1 ==1 then 0 else 1 endif
* =if (P1 == 1 && P5 ==1) then 1 else 0 endif
***
### English ###
A1-A2
"Courses Open world Learning English"
***
### Completed project ###
CV registration!:)
